@model CareerUpStudent.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EduForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EduForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEduProgramNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEduProgramNavigation.Direction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
