@model IEnumerable<CareerUpStudent.Models.Company>
<style>
    .display-4 {
        color: cornflowerblue;
    }
</style>
@{
    ViewData["Title"] = "Компании";
}

<h1 class="display-4">Компании</h1>
@using (Html.BeginForm())
{
    <p>
        Название: @Html.TextBox("SearchString")
        Рейтинг: @Html.DropDownList("companyRating", "Все")
        
    </p>
    <p>
        <button type="submit" class="btn btn-outline-primary btn-sm">Применить</button>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Подробности
            </th>
            <th>
                Рейтинг
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                </td>
            </tr>
        }
    </tbody>
</table>
