@model CareerUpStudent.Models.Reply

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdResumeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdResumeNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVacancyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVacancyNavigation.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
